<!DOCTYPE html>
<html>
<head>



















<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="Online Judge, vjudge, OJ, Virtual Judge, Replay Contest, ICPC, OnlineJudge, JudgeOnline, Coding, Algorithm, ç«µ®æ³, POJ
, ZOJ, UVALive, SGU, URAL, HUST, SPOJ, HDU, HYSBZ, UVA, CodeForces, Z-Trening, Aizu, LightOJ, UESTC, NBUT, FZU, CSU, SCU, ACdream, CodeChef, CF::Gym, OpenJudge, Kattis, HihoCoder, HIT, HRBUST, EIJudge, AtCoder, HackerRank, 51Nod" />
<meta name="author" content="chaoshxxu" />
<meta name="robots" content="index, follow" />

<link rel="shortcut icon" href="/static/images/logo.ico" />
<link rel="stylesheet" type="text/css" href="/static/bundle/vendor.e3a31bdeb78251ccb839.css" />
<link rel="stylesheet" type="text/css" href="/static/bundle/app.aece4150ea939365b39c.css" />

    <title>Error - Virtual Judge</title>
</head>

<body>




















<nav class="navbar navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
            data-target="#navbarResponsive"></button>
    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.ico" height="30"/>
            Home
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item" id="nav-problem">
                <a class="nav-link" href="/problem">Problem</a>
            </li>
            <li class="nav-item" id="nav-status">
                <a class="nav-link" href="/status">Status</a>
            </li>
            <li class="nav-item" id="nav-contest">
                <a class="nav-link" href="/contest">Contest</a>
            </li>
            <li class="nav-item" id="nav-user">
                <a class="nav-link" href="/user">User</a>
            </li>
            <li class="nav-item" id="nav-group">
                <a class="nav-link" href="/group">Group</a>
            </li>
            <li class="nav-item" id="nav-comment">
                <a class="nav-link" href="/comment">Forum</a>
            </li>



                    <li class="nav-item float-xs-right">
                        <a class="nav-link logout" href="javascript:void(0)">Logout</a>
                    </li>
                    <li class="nav-item dropdown float-xs-right">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                           id="userNameDropdown" data-toggle="dropdown">ajudgebd</a>
                        <div class="dropdown-menu dropdown-menu-right user-dropdown">
                            <a class="dropdown-item"
                               href="/user/ajudgebd">Profile</a>
                            <a class="dropdown-item update-profile" href="javascript:void(0)">Update</a>
                            <a class="dropdown-item message" href="/message">Message</a>
                        </div>
                    </li>



        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-md-center" style="margin-top: 30px">
            <h1>卧槽 ??</h1>
            <br/><img src="/static/images/beiju.jpg"/>
            <br/><img src="/static/images/lr.gif"/>&nbsp;&nbsp;&nbsp;
            <img src="/static/images/beiju1.gif"/>&nbsp;&nbsp;&nbsp;
            <img src="/static/images/beiju2.gif"/>&nbsp;&nbsp;&nbsp;
            <img src="/static/images/beiju3.gif"/>&nbsp;&nbsp;&nbsp;
            <img src="/static/images/rl.gif"/>
        </div>
    </div>
</div>

<div id="error_discuss" style="width:900px;"></div>

<script type="text/javascript">moduleName = "./common/error";</script>




















<div class="body-footer">
    <div style="margin-bottom: 8px">
        <a href="https://t.me/joinchat/Erw7nRGwXN3iSCoKguVW3w" target="_blank">
            <img src="/static/images/social/telegram.svg"/>
        </a>
        <a href="https://www.facebook.com/virtualjudge/" target="_blank">
            <img src="/static/images/social/facebook.svg"/>
        </a>
        <a href="https://weibo.com/u/5340553087" target="_blank">
            <img src="/static/images/social/weibo.svg"/>
        </a>
        <a href="https://groups.google.com/forum/#!forum/virtual-judge" target="_blank">
            <img src="/static/images/social/google_bookmark.svg"/>
        </a>
        <a href="https://twitter.com/virtualjudge" target="_blank">
            <img src="/static/images/social/twitter.svg"/>
        </a>
        <a href="mailto:is.un@qq.com" target="_blank">
            <img src="/static/images/social/email.svg"/>
        </a>
    </div>
    All Copyright Reserved © 2010-2020 <a href="mailto:is.un@qq.com">Xu Han</a><br/>
    Server Time: <span class="currentTimeTZ"></span>
</div>

<input name="version" type="hidden" value="1589385132512"/>

    <input id="visitor_username" name="username" type="hidden" value="ajudgebd"/>
    <input id="visitor_userId" name="userId" type="hidden" value="389609"/>
    <input id="visitor_sup" name="sup" type="hidden" value="0"/>
    <input id="newMessage" name="newMessage" type="hidden" value="false"/>


<span id="img-support" title="Feedback"></span>
<script type="text/javascript">basePath = "";</script>
<script type="text/javascript">imagesRoot = "/static/images";</script>
<script src="/static/bundle/loader.d41d8cd98f00b204e980.js?1589385132512"></script>
<script src="/static/bundle/vendor.e3a31bdeb78251ccb839.js"></script>
<script src="/static/bundle/app.aece4150ea939365b39c.js"></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-13231844-2', 'auto');

  ga('set', 'userId', 'ajudgebd');

  ga('send', 'pageview');
</script>

</body>
</html>