<html>
<head>
  <link rel="stylesheet" href="assests/styles/main.css" type="text/css">
  <script src="../assests/scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="main">
  <h1>An Animated Lil' Popup</h1>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin non rhoncus diam, a porta diam! Nunc ultricies risus quis convallis consequat! Phasellus dapibus tortor eu finibus tempor. Sed ut malesuada turpis, vitae luctus nisi. Suspendisse vitae libero sed libero eleifend convallis.</p>
  <a class="btn popup-btn" href="#">Click Me!</a>
</div>
<div class="popup-wrap">
  <div class="popup-box">
    <h2>Title of Popup</h2>
    <h3>A sub-heading for the popup with a little description.</h3>
    <a class="close-btn popup-close" href="#">x</a>
  </div>
</div>
  <script>
  $(document).ready(function() {
    $('.popup-btn').click(function(e) {
      $('.popup-wrap').fadeIn(500);
      $('.popup-box').removeClass('transform-out').addClass('transform-in');

      e.preventDefault();
    });

    $('.popup-close').click(function(e) {
      $('.popup-wrap').fadeOut(500);
      $('.popup-box').removeClass('transform-in').addClass('transform-out');

      e.preventDefault();
    });
  });
</script>
</body>
</html>