<form action="/testSub" method="POST">
    <input type="text" name="test">
    <input type="submit" name="Give">
</form>
<img src="https://google.com/logos/doodles/2020/thank-you-teachers-and-childcare-workers-6753651837108762-s.png" title="G-Logo" alt="Google-Logo"><br>
<img src="https://vj.z180.cn/a05ad9e5d044848333bf6966ee047ec6?v=1587122173" title="Logo" alt="Logo"><br>
<img src="https://espresso.codeforces.com/28583bedfa0495c0d7b4821b0712ee974a30bb9e.png" title="D-Logo" alt="Logo"><br>