{{ template "head" . }}

<div id="content">
    <h1 style="color: red; text-align: center; font-size: 164px;">404</h1>
    <h1 style="color: brown; text-align: center; margin-top: -135px;">Page Not Found</h1>
    <a href="/" style="color: blue; text-align: center;">Return to Homepage</a>
</div>

{{ template "close" }}