<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .pageTitle }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="content">
            <h1 style="color: red; text-align: center; font-size: 164px;">404</h1>
            <h1 style="color: brown; text-align: center; margin-top: -135px;">Page Not Found</h1>
            <a href="/" style="color: blue; margin-left: 610px;">Return to Homepage</a>
        </div>
    </body>
</html>