[submodule "github.com/PuerkitoBio/goquery"]
	path = github.com/PuerkitoBio/goquery
	url = https://github.com/PuerkitoBio/goquery
[submodule "github.com/gorilla/sessions"]
	path = github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions
[submodule "github.com/gorilla/mux"]
	path = github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "github.com/go-sql-driver/mysql"]
	path = github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "github.com/gorilla/securecookie"]
	path = github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie
[submodule "github.com/andybalholm/cascadia"]
	path = github.com/andybalholm/cascadia
	url = https://github.com/andybalholm/cascadia
[submodule "golang.org/x/net"]
	path = golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "golang.org/x/text"]
	path = golang.org/x/text
	url = https://github.com/golang/text.git
[submodule "github.com/gocolly/colly/v2"]
	path = github.com/gocolly/colly/v2
	url = https://github.com/gocolly/colly
[submodule "github.com/antchfx/htmlquery"]
	path = github.com/antchfx/htmlquery
	url = https://github.com/antchfx/htmlquery
[submodule "github.com/antchfx/xmlquery"]
	path = github.com/antchfx/xmlquery
	url = https://github.com/antchfx/xmlquery
[submodule "github.com/antchfx/xpath"]
	path = github.com/antchfx/xpath
	url = https://github.com/antchfx/xpath
[submodule "github.com/gobwas/glob"]
	path = github.com/gobwas/glob
	url = https://github.com/gobwas/glob
[submodule "github.com/kennygrant/sanitize"]
	path = github.com/kennygrant/sanitize
	url = https://github.com/kennygrant/sanitize
[submodule "github.com/saintfish/chardet"]
	path = github.com/saintfish/chardet
	url = https://github.com/saintfish/chardet
[submodule "github.com/temoto/robotstxt"]
	path = github.com/temoto/robotstxt
	url = https://github.com/temoto/robotstxt
[submodule "google.golang.org/appengine"]
	path = google.golang.org/appengine
	url = https://github.com/golang/appengine
[submodule "github.com/golang/protobuf"]
	path = github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "github.com/golang/groupcache"]
	path = github.com/golang/groupcache
	url = https://github.com/golang/groupcache
[submodule "golang.org/x/crypto"]
	path = golang.org/x/crypto
	url = https://github.com/golang/crypto.git
